<h1>Welcome to {{title}}</h1>
<!--
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="data" class="nav-link">Data Cards</a>
      </li>
      <li class="nav-item">
        <a routerLink="metadata" class="nav-link">Metadata Cards</a>
      </li>
      <li class="nav-item">
        <a routerLink="templates" class="nav-link">Template Cards</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
 -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/data">DataCards</a>
  <a routerLink="/metadata">Metadata Cards</a>
  <a routerLink="/templates">Template Cards</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>